*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 
 html{
     scroll-behavior: smooth;
 }
 
 body{
     background: url("https://images.unsplash.com/photo-1502301103665-0b95cc738daf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1900&q=80") no-repeat center center/cover; 
     z-index: -1;
 }
 #navbar{
     display: flex;
     align-items: center;
     /* padding: 15px; */
     justify-content: center;
     flex-wrap: wrap;
 }
 
 #navbar::before{
     content: " ";
     /* background: url("https://images.unsplash.com/photo-1502301103665-0b95cc738daf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1900&q=80") no-repeat center center/cover; */
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: -1;
 }
 
 #logo{
     margin: 5px;
 }
 #logo img{
     height: 85px;
 }
 ul li{
     list-style: none;
     
 }
 
 #navbar ul{
     display: flex;
 }
 
 #search{
     border: 2px solid rgb(255, 255, 255);
     border-radius: 0.8rem;
     -webkit-box-align: center;
     display: flex;
     width: 845px;
     align-items: center;
     padding: 10px;
     margin-left: 30px;
     font-size: 1.5rem;
     gap: 5%;
    box-shadow: rgb(28, 28, 28 ,0.08) 0px 2px 8px;;
    flex-wrap: wrap;
 }
 #city{
     border: none;
     font-size: 1rem;
     width: 9rem;
     height: 2rem;
     align-items: center;
 }
 /* #vertical{
     width: 0px;
     height: 2rem;
     border: 0.05rem solid rgb(207, 207, 207);
 } */
 
 #rest{
     border: none;
     font-size: 1rem;
     width: 18rem;
     height: 2rem;
     margin:1rem;
 }
 
 .reg{
     padding-bottom: 0px;
     border-radius: 0px;
     box-sizing: border-box;
     border-style: solid;
     border-color: transparent;
     border-width: 0px 0px 0.2rem;
 }
 
 #social a{
     color: silver;
 }
 .upin{
     font-size: 1.8rem;
     line-height: 1.5;
     font-weight: 950;
     color: rgb(23, 116, 108);
     cursor: pointer;
     border-radius: 0.6rem;
     padding: 0.8rem !important;
 }
 
 #log{
     margin-left: 3rem;
 }
 
 input{
     background: whitesmoke;
     font-weight: 300;
     border-radius: 0.4rem;
 }
 
 input:hover{
     box-shadow:5px 10px 12px rgb(40, 133, 161);
 }
 
 h1{
     font-size: 20px;
     font-weight: 150;
     color: silver;
    margin-left: 25px;
 }
 
 .zone p{
     font-size: 20px;
     font-family: 'Roboto', sans-serif;
     color: silver;
     margin-left: 15px;
     
 }
 
 
 #footer {
     display: block;
     padding: 8px 0px;
     height: 450px;
     justify-content: flex-start;
     position: relative;
     bottom: 0px;
     color: silver;
     gap: 10%;
     margin-top: 321px;
 }
 
 #footer::before {
     content: "";
     background-color: rgba(29, 21, 21,0.7);
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: -1;
 }
 
 h2{
     font-size: 30px;
 }
 
 #table{
     height: 200px;
     width: 70%;
 }
 
 td{
     padding: 4px;
     
 }
 
 th{
     padding: 10px;
     text-align: justify;
     font-size: 13px;
 }
 #social i{
     padding: 10px;
 }
 
 #logo{
     transition: transform 2s ease-in-out;
     
 }
 #logo:hover{
 transform: rotate(70deg);
 }
 
 .reg:hover{
   transform: scale(1.1);
   box-shadow: 2px 2px 5px rgb(40, 133, 161);
   border-radius: 2rem;
 }
 
 #face:hover{
     color:#4267B2;
     transform: scale(1.8);
 }
 #insta:hover{
     color:#E1306C;
     transform: scale(1.8);
 }
 #tweet:hover{
     color:#1DA1F2;
     transform: scale(1.8);
 }
 
 #food{
     display: flex;
      flex-direction: column;
      align-items: center;
      height: 170px;
      width: 284px;
      top: 0px;
      margin-bottom: 2px;
      margin-top: 19rem;
     box-shadow: 10px 10px 12px aquamarine;
     border-radius: 20px;
     position: absolute;
     background-color:rgba(15, 80, 77,0.6);
 
     animation-name: hey;
     animation-duration: 4s;
     animation-iteration-count: infinite;
 }
 
 @keyframes hey{
     0%{left: 0px; top: 0px;}
   50%{left: 5rem; top: 0px;}
   100%{left: 0px; top: 0px;}
 }

 .copy{
     text-align: center;
 }